 #posted-tweets article:hover{
  opacity: 1;
}


 #posted-tweets article{
  width: 380px;
  border: 1px solid silver;
  border-radius: 5px;
  margin: 0 auto;
  background-color: white;
  opacity: 0.5;
}


 #posted-tweets header{
  background: #eee;
  border-radius: 5px;
  height: 70px;
  margin-top: -21px;

}


 #posted-tweets header .image{
  float:left;
  border-radius: 10px;
  display: block;
  max-height: 70px;
  padding: 5px;
}



 #posted-tweets .name{
  text-align: left;
  padding: 15px 5px;

}

 #posted-tweets .email{
  text-align: right;
  margin-top: -70px;
  font-size: 80%;
  padding: 5px;

}

 #posted-tweets .text{
  text-align: left;
  padding: 10px;

}


 #posted-tweets footer{
  border-top: 1px solid silver;
  height: 30px;
}

#posted-tweets .date{
  float:left;
  font-size: 60%;
  text-align: center;
  margin-top: 10px;
  padding-left: 5px;


}


#posted-tweets footer i{
  float: right;
  padding: 10px;
  font-size: 70%;


}